%h3 Welcome to Benjamin Franklin's Virtues' tracker

%table.login
	%tbody
		%tr
			%td
				=form_tag sessions_path, :method => :post do
					%table
						%tbody
							%tr
								%td
									= label :session, :id, 'Email ID'
								%td
									= text_field :session, :id
							%tr
								%td
									= label :session, :password, 'Password'
								%td
									= password_field_tag :password, :user, :value=>nil, :size=>30
							%tr.r
								%td
								%td
									= submit_tag 'Login'
			%td
				=form_tag users_path, :method => :post do
					%table
						%tbody
							%tr
								%td
									= label :user, :first_name, 'First Name'
								%td
									= text_field :user, :first_name
							%tr
								%td
									= label :user, :last_name, 'Last Name'
								%td
									= text_field :user, :last_name
							%tr
								%td
									= label :user, :email, 'Email'
								%td
									= text_field :user, :email
							%tr
								%td
									= label :user, :password, 'Password'
								%td
									= password_field_tag :password, :user, :value=>nil, :size=>30
							%tr.r
								%td
								%td
									= submit_tag 'Register'
