%h2 Edit Entry

=form_tag student_entries_path, :method=> :post do
	%table
		%tbody
			%tr
				%td
					= label :entry, :date, 'Date'
					= date_select :entry, :date
			%tr
				%td
					= label :entry, :v1, 'V1 violated'
					= check_box :entry, :v1
			%tr
				%td
					= label :entry, :v2, 'V2 violated'
					= check_box :entry, :v2
			%tr
				%td
					= submit_tag "Make Entry"
