
#This file is app/views/movies/index.html.haml

%h1 All Users

%table#User
  %thead
    %tr
      %th User id
      %th first_name
      %th last_name
      %th email
  %tbody
    - @users.each do |each|
      %tr
        %td= each.email 
        %td= each.first_name
        %td= each.last_name
        %td= link_to "More about #{each.first_name}", each

