%table
	%thead
		%tr
			%th
				Registered Classes
			%th
				Start Date
	%tbody
		-@class_rooms.each do |class_room|
			%tr
				%td=class_room.name
				%td=class_room.startdate

%h3 Add new Class
=form_tag user_classrooms_path(@current_user), :method=>:post do
	%table
		%tbody
			%tr
				%td
					= label :classroom, :name, 'Class Name'
					= text_field :classroom, :name
			%tr
				%td
					= label :classroom, :startdate, 'Start Date'
					= date_select :classroom, :startdate
			%tr
				%td
					= submit_tag "Create Class"
