%h3
  Entry for
  =@date.to_s
-$year=Date.today.year
-$month=Date.today.month
//-link_to "Next Month", $month
//= calendar(:year=>$year, :month=>$month) do |d|
//  -link_to  d.day,  editall_classroom_virtueentries_path(@classroom, d)

:javascript
  var classroom = #{@classroom.id};

%table.entriesparent
  %tbody
    %tr
      %td.cal
        %div{:id=>"cal"}
        - content_for :javascripts do
          = javascript_include_tag 'calendar'

      %td

        =form_tag classroom_virtueentries_path, :method=>:post do
          -if @entries  ||  !@entries.nil?
            %table.entries
              %thead
                %tr
                  %th
                  %th
                  %th
                  %th.c Violation count
                  %th.c Notes
              %tbody
                %tr
                  -@entries.each_with_index do |entry, index|
                    =fields_for "entries[#{index}]", entry do |v|
                      %tr
                        %td= v.label :name, Virtueentry.vdesc(entry.v_id)
                        %td= v.hidden_field :v_id, :readonly => true
                        %td= v.hidden_field :date, :readonly=>true
                        %td.c= v.text_field :violation_count, :size=>2
                        %td.c= v.text_field :note
                %tr
                  %td
                  %td
                  %td
                  %td
                  %td.r
                    = submit_tag "Save"
          -else
            Class starts on
            =@classroom.startdate
