%h3
	Entries for
	=link_to @classroom.name, classroom_path(@classroom)

%table.tb
	%thead
		%tr
			%th Virtue#
			%th Date
			%th Violations
			%th Notes
			%th First entry Date
	%tbody
		-if @entries
			-@entries.each do |entry|
				%tr
					%td= entry.v_id
					%td= entry.date
					%td= entry.violation_count
					%td= entry.note
					%td= entry.entryon

:plain
	&nbsp &nbsp &nbsp
=link_to 'Delete all entries', classroom_virtueentries_path(@classroom), :method => :delete, data: { confirm: 'This will delete all your entries for this class. Do you want to continue?' }

