!!! 5
%html
	%head
		%title 13Virtues Tracker!
		= stylesheet_link_tag 'application'
		= javascript_include_tag 'application'
		= javascript_include_tag 'https://www.google.com/jsapi'
		= csrf_meta_tags
		= yield(:javascripts)
 
	%body
		%table#header
			%tbody
				%tr
					%td
						%h2
							=link_to 'Virtues Tracker', root_path
					- if @current_user
						%td
							Welcome
							//= @current_user.name+'!!'+' ('+@current_user.email+')'
							= @current_user.first_name+'!!'
						%td.r
							//=link_to 'Logout ', '/logout'
							=link_to 'Sign out', '/signout'

		-if @current_user
			%ul.topbar
				%li
					-if @classroom
						=@classroom.name
						=image_tag("arrow-down.png")
						%ul#clsselect
							- @current_user.classrooms.each do |cls|
								%li
									=link_to cls.name, classroom_path(cls)
							%li
								=link_to '+Class', new_classroom_path
					-else
						=link_to '+Class', new_classroom_path
				-if @classroom && @classregistration.classregistration_type != Classregistration.student_pending_approval
					%li
						='Statistics'
						=image_tag("arrow-down.png")
						%ul
							%li
								=link_to 'Virtues Progress', classroom_statistics_path(@classroom)
							-if !@current_user.can_create_class?
								%li
									=link_to 'Entries Frequency', entries_on_classroom_statistics_path(@classroom, @current_user)
				-if @classroom && @classregistration.classregistration_type == Classregistration.student
					%li
						=link_to 'All Entries', classroom_virtueentries_path(@classroom)

		%br
		%br
		- if flash[:msg]
			=flash[:msg]

		#main
			= yield
