!!! 5
%html
	%head
		%title 13Virtues Tracker!
		= stylesheet_link_tag 'application'
		= javascript_include_tag 'application'
		= csrf_meta_tags
 
	%body
		- if @current_user
			%table#header
				%tbody
					%tr
						%td
							%h2
								=link_to '13 Virtues Tracker', user_path(@current_user)
						%td
							Welcome
							//= @current_user.name+'!!'+' ('+@current_user.email+')'
							= @current_user.first_name+'!!'+' ('+@current_user.email+')'
						%td
							//=link_to 'Logout ', '/logout'
							=link_to 'Sign out', '/signout'

		- if flash[:msg]
			=flash[:msg]

		#main
			= yield
